@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 10px 100px;
}
.navbar h1 span{
    color: orangered;
}
.sub-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sub-nav span {
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 50%;
    background-color: blue;
    padding: 7px 10px;
    color: white;
}
/* first Page */
.bg-img{
    background-image: url('https://motionarray.imgix.net/preview-1866115-ZHeBUzc42ohdX5tx-large.png?w=660&q=60&fit=max&auto=format');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: -450px;
    margin-top: -30px;
}
.front-page{
    width: 60%;
    margin: 50px 30px 20px 70px;
}

.text {
    overflow: hidden;
    color: blue;
    font-size: xx-large;
    font-weight: 800;
    border-right: 0.15em solid orange; /* You can change the color and width */
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 3.5s steps(40, end), blink-caret 3.55s step-end infinite;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: orange; /* You can change the color */
    }
  }
.form-container1 button {
    font-weight: 500;
    color: blue;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 5px;
    background-color: transparent;
}
 
.form-container1 button:hover {
    font-weight: 700;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 5px;
}
/* Awards & Recognition */
.logo-i{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 50px;
    border-radius: 20px;
    background-color: #33c1fe;
    color: white;
    
}
.logo-i h1{
    position: absolute;
    left: 0;
    overflow: hidden;
    background-color: blue;
    padding: 19px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;


}
.logo-img{
    margin-left: 200px;
}
.logo-img img{
    width: 115px;
    height: 100px;
    margin: 10px 3px;
}

/* services */
.services{
    margin-top: 27px;
    width: 100%;
}
/* technology  */
.technology{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 100px;
    
}
/*  CONTACT US */

.container {
    max-width: 800px;
    margin: 50px auto;
    overflow: hidden;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
}

.form-container {
    display: flex;
    width: 100%;
    gap: 30px;
    margin-bottom: 90px;
    
}
.left-side{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form-container input,
.form-container textarea {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
}

.form-container textarea {
    width: 100%;
    resize: vertical;
    
}

.form-container input[type="checkbox"] {
    margin-top: 5px;
}

.form-container button {
    font-weight: 500;
    color: blue;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 5px;
    background-color: white;
}
.form-container button:hover {
    font-weight: 700;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 5px;
}
.submitbtn span{
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    margin-right: 10px;
}
.submitbtn span i{
    padding: 5px;
    background-color: blue;
    color: white;
    border-radius: 50%;
    font-size: smaller;
}

.acceptTerms{
    width: 10px;
    height: 10px;
}

.terms{
    display: flex;
    gap: 10px;
}

.support{
    display: flex;
    justify-content: center;
    align-items: center;
}
.support-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    gap: 50px;
    width: 70%;
    height: 10vh;
    background-color: #0159DC;
    color: white;
}

  /* MAP */
 
.map{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/69/World_map_blank_gmt.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: 100px;
    margin-bottom: -600px;
}
  
.contact-box{
    display: flex;
    justify-content: center;
    align-items: center; 
    
}
.sub-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 13vh; 
    background-color: white;
    margin: 10px;
    border-radius: 5px;
}
.sub-box h1{
    color: blue;
    font-size: large;
    margin-top: 5px;
}
.sub-box p{
    font-size: small;
    margin-left: 15px;
}

/* FOOTER */


.container-footer{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #EAEFFF;
    padding: 70px 0;
}
.footer span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #000;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #d4d2e7;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #000;
	text-decoration: none;
	font-weight: 300;
	color: #000;
	display: block;
	transition: all 0.3s ease;
}
.thread {
    text-decoration: none;
    text-transform: capitalize;
}
.footer-col ul li a:hover{
	color: #000;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #000;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    font-size: 12px;
    font-weight: 500;
}


